<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head('Cài đặt - MTShop Admin', 'tag')"/>
    <link rel="stylesheet" th:href="@{/js/richtext/richtext.min.css}">
    <script th:src="@{/js/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation::menu"/>

    <div>
        <h2>Cài Đặt Trang Web</h2>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <ul class="nav nav-tabs" id="settingTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#general" role="tab">Chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#countries" role="tab">Quốc gia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#countries" role="tab">States</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mailServer" role="tab">Mail server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mailTemplates" role="tab">Mail Templates</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="general" role="tabpanel">
                <div th:replace="settings/general :: content"/>
            </div>

            <!-- description -->
            <div class="tab-pane" id="countries" role="tabpanel">
                <h2>Quốc gia</h2>
            </div>

            <!-- image -->
            <div class="tab-pane" id="states" role="tabpanel">
                <h2>States</h2>
            </div>

            <!-- detail -->
            <div class="tab-pane p-3" id="mailServer" role="tabpanel">
                <h2>Mail server</h2>
            </div>

            <!-- shipping -->
            <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
                <h2>Mail Templates</h2>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>