<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col-sm-3" th:fragment="content">
    <div>
        <a th:href="@{'/p/' + ${product.alias}}">
            <img th:src="@{${product.mainImagePath}}" width="150"/>
            <br>
            <b>[[${product.shortName}]]</b>
        </a>
    </div>
    <div th:if="${product.discountPercent <=0}">
        <span>[[${product.price}]] đ</span>
    </div>
    <div th:if="${product.discountPercent >0}">
        <span style="font-size: larger; color: darkred">[[${product.discountPercent}]] đ</span>
        <del>
            <span>[[${product.price}]] đ</span>
        </del>
    </div>
</div>
</body>
</html>